<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring_Project_01:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/Spring_Project_01_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Spring_Project_01/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring_Project_01" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring-4.3.18.RELEASE" />
          <element id="library" level="project" name="Spring MVC-4.3.18.RELEASE" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/commons-pool2-2.8.0.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/commons-dbcp2-2.7.0.jar" />
          <element id="library" level="project" name="mybatis-3.5.3" />
          <element id="library" level="project" name="mybatis-spring-2.0.3" />
          <element id="library" level="project" name="mysql-connector-java-8.0.18" />
          <element id="library" level="project" name="jstl-1.2" />
          <element id="library" level="project" name="standard-1.1.2" />
        </element>
      </element>
    </root>
  </artifact>
</component>